In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
ds=pd.read_csv('/content/drive/MyDrive/DM project/Online Examination (Responses) - 1.csv')

In [ ]:
ds

                Name  ...                Your exam experience after Covid-19
0         Tonny Saha  ...                              Much more experience
1    Shahajada hasib  ...  The online exam experience was not beneficial ...
2     Md Arafuzzaman  ...                                                40%
3           Khalida   ...        As a Private university Student its Normal
4    Afrin Jahan Etu  ...                                             So bad
..               ...  ...                                                ...
304       Asif Islam  ...                                           Too much
305       Afrin Knta  ...                                                Bad
306     Swapan Kumar  ...                                              Good
307    Nirmal biswas  ...                                        Good Enough
308      Nasrin Popy  ...                                                Bad

[309 rows x 10 columns]

In [ ]:
ds.head

<bound method NDFrame.head of                 Name  ...                Your exam experience after Covid-19
0         Tonny Saha  ...                              Much more experience
1    Shahajada hasib  ...  The online exam experience was not beneficial ...
2     Md Arafuzzaman  ...                                                40%
3           Khalida   ...        As a Private university Student its Normal
4    Afrin Jahan Etu  ...                                             So bad
..               ...  ...                                                ...
304       Asif Islam  ...                                           Too much
305       Afrin Knta  ...                                                Bad
306     Swapan Kumar  ...                                              Good
307    Nirmal biswas  ...                                        Good Enough
308      Nasrin Popy  ...                                                Bad

[309 rows x 10 columns]>

In [ ]:
ds.dtypes

Name                                                  object
Your Email id                                         object
Age                                                   object
Gender                                                object
Education level                                       object
Are you accustomed to online exams?                   object
How much do you understand online exam?               object
How satisfied are you with the online exam?           object
How much online exam is increasing your knowledge?    object
Your exam experience after Covid-19                   object
dtype: object

In [ ]:
ds.describe()

                    Name  ... Your exam experience after Covid-19
count                309  ...                                 307
unique               291  ...                                 142
top     Redowan Chowdory  ...                                 Bad
freq                   3  ...                                  53

[4 rows x 10 columns]

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Name                                                309 non-null    object
 1   Your Email id                                       309 non-null    object
 2   Age                                                 309 non-null    object
 3   Gender                                              309 non-null    object
 4   Education level                                     309 non-null    object
 5   Are you accustomed to online exams?                 309 non-null    object
 6   How much do you understand online exam?             309 non-null    object
 7   How satisfied are you with the online exam?         309 non-null    object
 8   How much online exam is increasing your knowledge?  309 non-null    object
 9   Your exam experience after Covid-19                 307 non-null    object
dtypes: object(10)
memory usage: 24.3+ KB

In [ ]:
ds.equals(ds)

True

In [ ]:
ds['Name']

0           Tonny Saha
1      Shahajada hasib
2       Md Arafuzzaman
3             Khalida
4      Afrin Jahan Etu
            ...
304         Asif Islam
305         Afrin Knta
306       Swapan Kumar
307      Nirmal biswas
308        Nasrin Popy
Name: Name, Length: 309, dtype: object

In [ ]:
ds['Gender']

0      Female
1        Male
2        Male
3      Female
4      Female
        ...
304      Male
305    Female
306      Male
307      Male
308    Female
Name: Gender, Length: 309, dtype: object

In [ ]:
ds['Gender'].mode()

0    Male
dtype: object

In [ ]:
ds.corr()

Empty DataFrame
Columns: []
Index: []

In [ ]:
x=ds['Age']
x

0      21
1      23
2      25
3      21
4      21
       ..
304    23
305    22
306    21
307    21
308    20
Name: Age, Length: 309, dtype: object

In [ ]:
y=ds['Age']
y

0      21
1      23
2      25
3      21
4      21
       ..
304    23
305    22
306    21
307    21
308    20
Name: Age, Length: 309, dtype: object

In [ ]:
y = ds['Your Email id']
y

0         tonnyranisaha1@gmail.com
1         shahajadahasib@gmail.com
2            arafuzzaman@gmail.com
3      Khalidatasneem01@gmail.com
4        afrinjahanetu66@gmail.com
                  ...
304                asif1@gmail.com
305              kanta21@gmail.com
306             kumar123@gmail.com
307             nirmal01@gmail.com
308          NasrinPopy1@gmail.com
Name: Your Email id, Length: 309, dtype: object

In [ ]:
x = ds.drop('Your Email id', axis=1)
x

                Name  ...                Your exam experience after Covid-19
0         Tonny Saha  ...                              Much more experience
1    Shahajada hasib  ...  The online exam experience was not beneficial ...
2     Md Arafuzzaman  ...                                                40%
3           Khalida   ...        As a Private university Student its Normal
4    Afrin Jahan Etu  ...                                             So bad
..               ...  ...                                                ...
304       Asif Islam  ...                                           Too much
305       Afrin Knta  ...                                                Bad
306     Swapan Kumar  ...                                              Good
307    Nirmal biswas  ...                                        Good Enough
308      Nasrin Popy  ...                                                Bad

[309 rows x 9 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
l = LabelEncoder()
y_train = l.fit_transform(y_train)

In [ ]:
x_train

                        Name  ... Your exam experience after Covid-19
304               Asif Islam  ...                            Too much
206     Shahrin Rashid Oishi  ...                       not satisfied
107                Abu sayed  ...                            Avarage
297              Tondra saha  ...                                Good
211             Piu Adhikari  ...                            Too much
..                       ...  ...                                 ...
222               Rasel Sekh  ...                               Good
104             Imran Rahman  ...                                  Ok
180  Md forid uz zaman sifat  ...                                  Gd
89         Momotaz Zahan Mim  ...                        Not so good.
292              Sammi Akter  ...                                 Bad

[247 rows x 9 columns]

In [ ]:
x_test

                     Name  ...                Your exam experience after Covid-19
146  Rakibul Islam Badhan  ...                I think it's killing our backbone!
53                  Nahid  ...                                               Good
174        Shahriar Mamun  ...                                           very bad
25            Puja Halder  ...                                     No experience
29        Tomalika kundu   ...  During Covid-19, we lacked offline classes. So...
..                    ...  ...                                                ...
27        Tomalika kundu   ...  .During Covid-19, we lacked offline classes. S...
15         Pari Majumdar   ...                              I have no experience
231            Priya Saha  ...                                              Good
51        NR Shawon Gazi   ...                                                 no
284            Suvra Saha  ...                                                Bad

[62 rows x 9 columns]

In [ ]:
l=LabelEncoder()
y_train=l.fit_transform(y_train)

In [ ]:
y_train

array([ 92, 200,  78, 226,  45, 130,  22, 152, 188, 160,  77,  43, 132,
        74, 202, 163,  94,  60, 183,  47, 119, 193, 120, 207, 108,   8,
         0,  63, 222, 114,  55, 171, 109, 190,  89,  32,  80, 204,  76,
       101,  64, 107,  34,  66, 187, 199, 172, 125, 176, 143, 127, 150,
       147, 154,  67,  39,  48,  69,  46,  68, 158, 217, 221, 184, 126,
       131, 220, 111, 167, 169, 182, 203,   3,  87,  96,  71,  41, 155,
       110, 148, 194, 133, 224,  65, 136,   5, 135,  99,  13,   2, 166,
       164, 219, 122,  31, 134,  12, 223, 206,  95,  88, 221,  61, 105,
        81, 205, 212, 174,  51, 159, 210, 146,  15, 169,  42, 141,   5,
       218, 231, 177,  10,  28, 103,  73, 153, 195,  70, 181, 229,  59,
       115, 201,  97, 156,  25,  57, 221, 198,  21, 211,  53, 186,  84,
         2,  17,  80,  98,  30,  19, 157,  75,  38, 128, 112,  24, 227,
       149,  40,  58, 197, 218,   1, 144, 213,  16,  18,   9,  62,  26,
       210,   4, 170,  23, 173, 165, 129, 100, 137, 138, 185, 215,  20,
       225, 162,  81, 168, 139,  33, 118,  91, 142, 180,  14, 106, 140,
       179, 209, 192,  37, 104, 117,  93,  49, 189,  27,   9,   7, 116,
       196,  85, 228, 214, 178,  90, 178, 102,  56,  72,  64, 161,  50,
        36, 216, 151,  11, 191, 230,  83,  35,  96,  29, 208,  54,   2,
        86,  44,  79, 124, 139, 175, 121,   6,  52, 123, 113, 145,  82])

In [ ]:
y_test

146                   201-15-14191
53      mdnahides349349@yaho. Com
174    shahriar15-12859@diu.edu.bd
25              Pujah596@gmail.com
29        tomalikakundu9005@gmail
                  ...
27        tomalikakundu9005@gmail
15        parimajumder61@gmail.com
231               Priya1@gmail.com
51       shawongazi1357@gmail.com
284                suvra@gmail.com
Name: Your Email id, Length: 62, dtype: object

In [ ]:
from sklearn.naive_bayes import  MultinomialNB

In [ ]:
 import numpy as np
 rng = np.random.RandomState(1)
 x_train = rng.randint(5, size=(6, 100))
 y_train = np.array([1, 2, 3, 4, 5, 6])
 from sklearn.naive_bayes import MultinomialNB
 clf = MultinomialNB()
clf.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
clf.score(x_train,y_train)

1.0

In [ ]:
print(clf.predict(x_train[2:3]))

[3]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
k = KNeighborsClassifier()
k.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
k.score(x_train,y_train)

0.16666666666666666

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
n = GaussianNB()
n.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
n.score(x_train,y_train)

1.0

In [ ]:
cm_algorithms_name =[]
true_positive = []
false_negative = []
false_positive = []
true_negative = []

In [ ]:
algorithm_name = []

In [ ]:
algorithm_name.append('Naive Bayes')

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
d = DecisionTreeClassifier()
d.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
d.score(x_train,y_train)

1.0

In [ ]:
algorithm_name.append('Decision Tree')

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
f = RandomForestClassifier()
f.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:

f.score(x_train,y_train)

1.0

In [ ]:
algorithm_name.append('Random Forest')

NameError: ignored